body {
    background-image: url("Fajer.jpg");
    background-size: cover;
    margin: 30px;
}

.Metadata {
    margin: 45px 0 0 30px;
    padding: 0 0 0 550px;
}

.title {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 100px;
    color:  #9b9258;
    text-shadow: 3px 3px 4px #2c1a13;
}

.paragraph {
    color: #2c1a13;
    text-shadow: 3px 1px 2px #9b9258;
    font-size: 45px;
}

.underline {
    border-bottom: 4px solid #59b3b7;  
}

button {
   background: #59b3b7;
   border: none;
   color: #e6f4e0;
   margin: 15px 0 0 0px;
   padding: 12px 20px;
   font-weight: 700;
   font-size: 30px;
}